body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
}

#container {
  width: 970px;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: #92a1d1;
}

#weekdays {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #247ba0;
  font-size: 18px;
}

#weekdays div {
  width: 100px;
  padding: 10px;
  text-align: center;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 128px;
  padding: 10px;
  height: 128px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header .button {
  background-color: #92a1d1;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.day.padding {
  cursor: default;
  background-color: #fffcff;
  box-shadow: none;
}

#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}
#saveButton,
#closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  #container {
    width: 750px;
  }

  #weekdays {
    justify-content: center;
    font-size: 13px;
  }

  .day {
    width: 97px;
    height: 97px;
    font-size: 13px;
    padding-top: 2px;
  }

  .event {
    max-height: 28px;
  }
}

@media (max-width: 768px) {
  #container {
    width: 550px;
  }

  .day {
    width: 68px;
    height: 68px;
  }
}

@media (max-width: 576px) {
  #header {
    font-size: 24px;
  }

  #weekdays {
    font-size: 11px;
  }

  #container {
    width: 450px;
  }

  .day {
    width: 60px;
    height: 60px;
    margin: 2px;
  }

  .event {
    max-height: 20px;
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  #container {
    width: 310px;
  }

  #monthDisplay {
    font-size: 16px;
  }

  .button {
    width: 50px;
    height: 20px;
    padding: 0;
    font-size: 9px;
  }

  .day {
    width: 40px;
    height: 40px;
    margin: 2px;
    font-size: 10px;
  }

  #weekdays {
    font-size: 9px;
  }
  #weekdays div {
    padding: 5px;
  }

  .event {
    font-size: 0;
  }

  #newEventModal,
  #deleteEventModal {
    width: 245px;
    top: 150px;
    left: calc(50% - 150px);
    font-size: 12px;
  }
}
